<div class="footer">
    <div class="box-container">
        <div class="box">
            <h3>contact info</h3>
            <p><i class="fas fa-map-marker-alt"></i> Moscow 2021</p>
            <p><i class="fas fa-envelope"></i> example@gmail.com</p>
            <p><i class="fas fa-phone"></i> +123-456-7890</p>
            <p><i class="fas fa-phone"></i> +111-222-333</p>
        </div>

        <div class="box">
            <h3>Branch location</h3>
            <a href="#">USA</a>
            <a href="#">France</a>
            <a href="#">Russia</a>
            <a href="#">England</a>
            <a href="#">Vietnam</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">home</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">popular</a>
            <a href="#">gallery</a>
            <a href="#">order</a>
        </div>

        <div class="links">
            <h3>Follow Us</h3>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-vk"></a>
            <a href="#" class="fab fa-twitter"></a>
        </div>
    </div>

    <h1 class="credit">
        Copyright &copy; <a href="#"> - 2021</a> All rights reserved.
    </h1>
</div>