<header>
  <a href="#" class="logo"><i class="fas fa-pizza-slice"></i> restaurant</a>

  <nav class="navbar">
    <ul>
      <li><a class="active" href="#home">home</a></li>
      <li><a href="#about">about</a></li>
      <li><a href="#menu">menu</a></li>
      <li><a href="#popular">popular</a></li>
      <li><a href="#gallery">gallery</a></li>
      <li><a href="#order">order</a></li>
    </ul>
  </nav>

  <div class="icons">
    <a class="fas fa-bars" id="menu-bars" href="#order"></a>
    <a class="fas fa-search" id="search-icon" href="#"></a>
    <a href="#" class="fas fa-shopping-cart" id="shopping-cart"></a>
  </div>

  <div class="navbar-nav ml-auto">
    <a class="nav-link" href="#menu" id="login">Login</a>
    <a class="nav-link" href="#order" id="register">Register</a>
  </div>
</header>
